.container-fluid {
	background-color: orange;
}

.jumbotron {
	background-image: url(central-bar-draft-beer-940x626.jpg);
	background-size: 100%;
	background-repeat: none;
}
form{
	width: 150px;
	
}
#about{
	width: 350px;
	in
}
#logo-icon{
	width: 200px;
}

.panel-results{
	width:400px ;
	position: center;
	margin-left: 20px;
}